<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's Sketch</title>
    <link rel='stylesheet' href='/stylesheets/web.css' />
</head>
<body>
    <h1>Let's Sketch</h1>

    <header id="features">
        <h2>Features</h2>
            <ul>
                <li>Direct Printing</li>
                <li>Easy To Use</li>
                <li>Time Saving</li>
                <li>Facial Expressions</li>
                <li>More Accurate</li>
            </ul>
    </header>


</body>
</html>